.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5000;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
}

.text-container {
  z-index: 5001;
}

.circle {
  transform: translateX(40px);
  background-color: white;
  width: 9px;
  height: 9px;
  border-radius: 4.5px;
  overflow: hidden;
}

.animation-container-1 {
  animation: container1 5s infinite linear;
  z-index: 5010;
}

.animation-container {
  position: absolute;
  z-index: 5001;
  margin-bottom: 60px;
  animation: container2 2s infinite;
}

@keyframes container2 {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }

  20% {
    opacity: 0;
    transform: rotate(0deg);
  }

  25% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  80% {
    transform: rotate(320deg);
    opacity: 0;
  }

  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes container1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.c1 {
  background-color: dodgerblue;
  animation: c1start 3s infinite;
}
.c2 {
  background-color: goldenrod;
  animation: c2start 3s infinite;
}
.c3 {
  background-color: greenyellow;
  animation: c3start 3s infinite;
}
.c4 {
  background-color: indianred;
  animation: c4start 3s infinite;
}
.cc1 {
  background-color: dodgerblue;
  animation: cc1start 3s infinite;
}
.cc2 {
  background-color: goldenrod;
  animation: cc2start 3s infinite;
}
.cc3 {
  background-color: greenyellow;
  animation: cc3start 3s infinite;
}
.cc4 {
  background-color: indianred;
  animation: cc4start 3s infinite;
}

@keyframes c1start {
  0% {
    transform: translate(0, 0);
  }

  80% {
    transform: translate(40px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}
@keyframes c2start {
  0% {
    transform: translate(0, 0);
  }

  80% {
    transform: translate(0, 40px);
  }

  100% {
    transform: translate(0, 0);
  }
}
@keyframes c3start {
  0% {
    transform: translate(0, 0);
  }

  80% {
    transform: translate(-40px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}
@keyframes c4start {
  0% {
    transform: translate(0, 0);
  }

  80% {
    transform: translate(0, -40px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes cc1start {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(60px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}
@keyframes cc2start {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(0, 60px);
  }

  100% {
    transform: translate(0, 0);
  }
}
@keyframes cc3start {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(-60px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}
@keyframes cc4start {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(0, -60px);
  }

  100% {
    transform: translate(0, 0);
  }
}
