.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.candidature-project-title {
  cursor: pointer;
  text-decoration: underline;
  border-radius: 5px;
}

.horizontal-list {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.mh-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mt-1 {
  padding-top: 1rem;
}

.wrap {
  flex-wrap: wrap;
}

.pointer {
  cursor: pointer;
}

.no-selection {
  user-select: none;
}

.table-container {
  flex: 1;
  justify-self: center;
  max-width: 93vw;
  overflow-x: auto;
  flex-wrap: wrap;
}

.chart-animation {
  animation: chart 200ms ease-in-out;
}

@keyframes chart {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.rotation {
  animation: rotate 5s infinite linear;
  transition-property: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.scrolling-tag {
  overflow: hidden;
  animation: tag infinite linear 50s;
}

@keyframes tag {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.align-center {
  align-items: center;
}

.align-flex-start {
  align-items: flex-start;
}
